/* universal element what we write here goes to every single element on the page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 54.3%;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

body {
  position: relative;
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #A3C8FF;
  color: #555;
}

/**************************/
/* HEADER */
/**************************/
header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 10px;
  margin: 0px auto;
  max-width: 82%;
  background-color: #3C6EAD;
}

.container {
  position: relative;
}

.logo {
  cursor: pointer;
  float: left;
}

li,
a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;

}


/**************************/
/* Navigation */
/**************************/

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3C6EAD;
  text-decoration: none;
  text-align: center;
  gap: 2rem;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;

}

/* Display and Align here becauce of the arrow */
nav ul li a {
  /* display: block; */
  gap: .25rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav ul li a .material-icons {
  margin-left: 8px;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #3D6EAD;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;

}

/* Fit the text inside the drop down */
nav ul li ul li {
  width: 220px;
  border-radius: 4px;
}

nav ul li ul li a {
  line-height: 3.5;
  border-bottom: 1px solid #fff;
}

/* Space between the icon and the dropdown items */
nav ul li ul li a .material-icons {
  margin-right: 15px;
}

nav ul li ul li a:hover:hover,
nav ul li ul li a:hover:active {
  background-color: #829ec8;
  border-radius: 18px;
  padding: .25rem;
}

.arrow{
  vertical-align: middle;
}

/**************************/
/* HEADER BUTTONS */
/**************************/

.button:link,
button:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 18px;
  transition: all 0.3s;
}

.button--full:link,
.button--full:visited {
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

.button--full:hover,
.button--full:active {
  background-color: #fff;
  color: #3C6EAD;
  box-shadow: 0px 15px 20px #587dab;
  transform: translateY(-7px);
}

.button--outline:link,
.button--outline:visited {
  background-color: #fff;
  color: #3C6EAD;
}

.button--outline:hover,
.button--outline:active {
  background-color: #3D6EAD;
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
  box-shadow: #587dab;
  transform: translateY(-7px);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  padding-right: 20px;
  padding-left: 0px;
}

/* @media only screen and (max-width: 600px) {
  .container, .header {
    margin-left: 10px;
    width: 100%;
  }
} */

/**************************/
/* SEARCH BAR */
/**************************/

.search-container{
  width: 100%;
  height: 25px;
  text-align: center;
}

#searchBar{
  position: relative;
  margin-top: 15px;
  width: 700px;
  height: 30px;
  border-radius: 25px;
  text-indent: 20px;
  border-color: #3C6EAD;
  border-width: 2px;
}

#searchButton{
  position: absolute;
  left: 1070px;
  margin-top: 17px;
  background-color: transparent;
  border-color: transparent;
  color: #3C6EAD;
}

#mainImage{
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}