*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
font-size: 62.5%;
}

body{
  position:relative;
  font-family: "Inter",sans-serif;
  line-height: 1;
  background-color: #A3C8FF;
  color: #555;
}

/**************************/
/* HEADER */
/**************************/

header{
  display: flex;
  position: sticky;
  top:0;
  z-index: 1;
  flex-direction: row;
  column-gap: 35%;
  align-items:center;
  padding: .50rem;
	margin:0px auto; 
  max-width: 82%;
  background-color: #3C6EAD;
}

.container{
  position: relative;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.logo{
  cursor: pointer;
  float: left;
  padding: 0px 20px;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

/**************************/
/* HERO SECTION */
/**************************/

.hero{
  display: flex;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
  
}

.hero-image-box{
  display: flex;
  column-gap: 30px;
}

img{
  border: 2px solid #3C6EAD;
  border-radius: 50px;
  height: auto;
  width: auto;
}

.image:hover { 
  transition: all 0.5s;
  opacity: 0.5;
  box-shadow: #829ec8;
  transition: all 0.3s;
  transform: translateY(-7px);
} 

/**************************/
/* BUTTONS */
/**************************/

.button:link, 
button:visited{
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;
  color: #3C6EAD;
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  border-radius: 18px;
  transition: all 0.3s;
}

.button--full:link,
.button--full:visited{
  background-color: #3C6EAD;
  color: #fff;
}
.button--full:hover,
.button--full:active{
  background-color: #fff;
  box-shadow: 0px 15px 20px #829ec8;
  transform: translateY(-7px);
  color: #3C6EAD;
}
.button--outline:link,
.button--outline:visited{
  background-color: #fff;
  color: #3C6EAD;
}

.button--outline:hover,
.button--outline:active{
  background-color: #3C6EAD;
  box-shadow: 0px 15px 20px #829ec8;
  transform: translateY(-7px);
  color: #fff;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80rem;
  margin-bottom: 10rem;
}



